.btn {
    color: white;
    background-color: #0d6efd;
}

.label-blue-button {
    background-color: rgb(153, 187, 221);
}

.label-red-button {
    background-color: rgb(221, 153, 187);
}

.task-data {
    text-align: left;
}

.survey-data {
    text-align: left;
}

.required-symbol {
    color: rgb(255, 0, 0);
}

.scale-box {
    width: 90%; 
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.scale-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 5px;
    width:90%;
}

.attention-box {
    border: 2px dashed #474b4e;
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.positive-btn {
    color:white;
    background-color:#dd99bb;
}

.negative-btn {
    color:white;
    background-color:#99bbdd;
}

.divider{
    height:auto;
    display:inline-block;
    padding: 30px;
}

.table-style {
    /* width: 50%; */
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    overflow-y:auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.consent {
    text-align: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.survey {
    text-align: left;
    /* width: 80%; */
    margin-left: auto;
    margin-right: auto;
}

.hide {
    display:none;
}

[v-cloak] { display: none }